.icon--external-link {
  height: var(--spacer-4);
  width: var(--spacer-4);
  shape-rendering: auto;
  vector-effect: non-scaling-stroke;
  transform: scale(0.9);

  .stroke {
    fill: none;
    stroke: currentColor;
    stroke-width: 0.75;
  }

  .fill {
    fill: currentColor;
  }
}
